<div class="card">
  <div class="card__body p-4">
    <form #form="ngForm" (ngSubmit)="forgotPassword()">
      <h4 class="card__title">Recuperar senha</h4>
      <div class="card__item form-group">
        <label for="email">E-mail</label>
        <input id="email" name="email" class="form-control" type="email" [(ngModel)]="user.email" requiredminlength="5">
      </div>
      <div class="card__item form-group">
        <button id="forgot-password" class="btn btn-primary btn-block col-6" type="submit" [disabled]="form.form.invalid">Enviar</button>
        <button id="login" class="btn btn-link btn-block col-6" type="button" [routerLink]="['/login']">Login</button>
        <app-alert-message [alertMessage]="alertMessage"></app-alert-message>
      </div>
    </form>
  </div>
</div>
